@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable selector-class-pattern */
.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

[disabled] {
	@apply opacity-50 cursor-pointer;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-blue-500;

	transform: translate3d(0, 0, 0);
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px theme('colors.blue.500'),
		0 0 5px theme('colors.blue.500');
	opacity: 1;
	transform: rotate(3deg) translate(0, -4px);
}
